.div {
  display: flex;
  flex-direction: column;
}

.div textarea {
  align-self: start;
  width: 94%;
  margin: 20px;
  flex-grow: 0.7;
  height: 100px;
  border-radius: 5px;
}

.div button {
  align-self: flex-end;
  margin-right: 39px;
  margin-top: 10px;
  padding: 7px;
  width: 90px;
  background-color: aliceblue;
  color: rgb(72, 61, 139);
  font-weight: bolder;
  border-radius: 10px;
  border-color: rgb(122, 5, 255);
}

/* .div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.div h2 {
}

.div div {
  width: 70%;

  display: flex;
  flex-direction: row;
}

.div textarea {
  width: 100%;
  height: 4rem;
}

.div button {
  width: 70px;
  height: 30px;
  background-color: rgb(247, 3, 3);
  color: rgb(240, 240, 243);
  margin-left: 1rem;
  margin-top: 1px;
  border-color: rgb(68, 14, 175);
} */
