.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background: rgba(0, 0, 0, 0.75);
}

.modal {
  position: fixed;
  display: flex;
  justify-content: center;
  top: 20vh;
  width: 100%;
  align-self: center;
  z-index: 100;
}

.modal div {
  display: flex;
  flex-direction: column;
  height: 150px;
  width: 500px;
}

.modal header {
  color: rgb(4, 9, 248);
  font-size: 20pt;
  font-weight: bolder;
  text-align: center;
}

.modal p {
  align-self: start;
  color: rgb(245, 229, 8);
  margin: 20px;
  flex-grow: 0.7;
  height: 100px;
  border-radius: 5px;
}

.modal button {
  align-self: flex-end;
  margin-right: 39px;
  margin-top: 10px;
  padding: 7px;
  width: 90px;
  background-color: rgb(209, 5, 39);
  color: rgb(243, 242, 247);
  font-weight: bolder;
  border-radius: 10px;
  border-color: rgb(246, 244, 248);
}
